<style>
  .searchBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }
</style>

<div id="filters">
  <div class="row offset-md-0 offset-lg-6 mt-4 mt-md-0">
    <!-- Recherche -->
    <div class="col-6">
      <div class="searchBar">
        <a href=""><img src="../../assets/search.svg" alt="search" width="32" height="32"></a>
        <input type="text" id="search" class="form-control" placeholder="Rechercher">
      </div>
    </div>

    <!-- Filtres -->
    <div class="col-6">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Filtrer par catégorie
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Tout</a>
          <a class="dropdown-item" href="#">Travail</a>
          <a class="dropdown-item" href="#">Personnel</a>
          <a class="dropdown-item" href="#">Maison</a>
          <a class="dropdown-item" href="#">Ecole</a>
          <a class="dropdown-item" href="#">Loisir</a>
        </div>
      </div>
    </div>
  </div>
</div>
