<style>
  .separator {
    margin: 8rem;
  }
</style>

<!-- Liste des tâches -->
<div id="tasks">
  <div class="card mb-3">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-3 text-left">
          <p> {{task.title}} </p>
        </div>

        <div class="col-sm-3 text-left">
          <p>{{ task.category }}</p>
        </div>

        <div class="col-sm-3 text-left">
          <p class="btn {{ btnColor }} btn-sm font-weight-bold" (click)="switchStatus()">{{ task.status }}</p>
        </div>

        <div class="col-sm-3 text-left">
          <div class="row">
            <div class="col-3">
              <button class="btn btn-sm" title="Supprimer" (click)="handleDelete()" >🗑</button>
            </div>
            <div class="col-3">
              <button class="btn btn-sm" title="Modifier" (click)="handleEdit()" >✏</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
