<style>
  .separator {
    margin: 8rem;
  }

</style>

<nav class="navbar navbar-light bg-light">
  <div class="container">
    <a href="#" class="navbar-brand font-weight-bold">{{ title }}</a>
  </div>
</nav>

<div class="container">
  <div class="row my-5">

    <!-- Formulaire -->
    <div class="col-md-4">
      <app-todo-form></app-todo-form>
    </div>

    <div class="col-md-8">

      <!-- Filtre et Recherche -->
      <app-todo-list-controls></app-todo-list-controls>
      <span class="separator"></span>

      <!-- Compteurs des tâches -->
      <app-counters></app-counters>
      <hr>

      <!-- Liste des tâches -->
      <app-todo-list></app-todo-list>
    </div>
  </div>
</div>
