
  .finishedDot {
    width: 12px;
    height: calc(12px * 0.84375);

  }

  .ongoinDot {
    width: 12px;
    height: calc(12px * 0.84375);
  }

  .pendingDot {
    width: 12px;
    height: calc(12px * 0.84375);
  }

  .counter-item {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 8px;
    margin-left: 16px;
  }

  #counters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
