

<div id="counters">
  <!-- Tâches terminées -->
  <div class="row">
    <div class="counter-item">
      <div class="finishedDot bg-success rounded-circle"></div>
      <p class="font-weight-bold">Tâches terminées : <span id="totalFinished"> {{tasksStatus.termine}} </span></p>
    </div>
  </div>

  <!-- Tâches en cours -->
  <div class="row">
    <div class="counter-item">
      <div class="ongoinDot bg-info rounded-circle"></div>
      <p class="font-weight-bold">Tâches en cours : <span id="totalOngoing">{{tasksStatus.encours}}</span></p>
    </div>
  </div>

  <!-- Tâches en attente -->
  <div class="row">
    <div class="counter-item">
      <div class="pendingDot bg-secondary rounded-circle"></div>
      <p class="font-weight-bold">Tâches en attente : <span id="totalPending">{{tasksStatus.enattente}}</span></p>
    </div>
  </div>
</div>
